footer {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background: rgb(246 172 162);
}

footer nav {
    display: block;
    margin-left: 25px;
}

footer ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: #000000;
}

.footer-logo {
    width: 50px;
    padding: 4px;
}